@{
    ViewData["Title"] = "Pigeon Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about the amazing world of pigeons!</p>
    Make a <a href="Registry/ForumPost">forum post</a>
</div>
@*
<div class="alert alert-success alert-dismissible fixed-bottom">
    Success! <a href="#" class="alert-link">Learn more</a> 
    <button class="btn-close" data-bs-dismiss="alert"></button>
</div>
*@
<div class="alert alert-success alert-dismissible fixed-bottom">
    This site uses cookies.
    <button class="btn-close" data-bs-dismiss="alert"></button>
</div>
