@model Message
@{
    ViewData["Title"] = "Reply";
}

<h1>Reply</h1>
<form method="Post" class="container">
        <h2>Reply to Message</h2>
        
    <div class="row col-10 p-2">
        <label for="message" class="col-md-2 form-label">Message:</label>
        <div class="col-md-8">
            <input id="message" name="Text" class="col-md-8 form-control">
        </div>
    </div>
    <input hidden name="OriginalMessageId" value="@Model.OriginalMessageId"/>
    <div class="row col-10  pt-2 pe-3">
        <span class="col-md-8"></span> @* space the submit button over to the right *@
        <input type="submit" class="btn btn-primary  col-md-2" value="Submit">
    </div>
</form>

